 <div ng-controller="homeCtlr" class="row">
   <div class="col-md-4">
    <h3 ng-repeat="musician in pantheon" ng-click="setArtistAlbums(musician)">
      {{musician.name}}
    </h3>
   </div>
   <div class="col-md-4">
    <h4 ng-show="showArtistAlbums" ng-repeat="album in albums" ng-click="setAlbum(album)">
      {{album.title}}
    </h4>
   </div>
    <!--<h5 ng-show="showAlbum" ng-repeat="song in album.tracklist" ng-click="setSong(song); setLyrics(song)">
      {{song.name}}
    </h5>
    <h6 ng-show="showLyrics">
      {{lyrics}}
    </h6>-->
  </div>